{% extends 'base.html.twig' %}

{% block title %}Contact Form v3!{% endblock %}

{% block body %}
    <h1>Contact form! ✅</h1>

    {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
    {{ form_start(form, {
            'method': 'POST',
            'attr': {'novalidate': 'novalidate'}
        }) 
    }}

    {# error collection #}
    {{ form_errors(form) }} 

    {{ form_row(form.message, {
            'label': 'Message',
            'attr': {'maxlength': 10}
        }) 
    }}

    <div>
        {# specific error #}
        {{ form_errors(form.email) }}
        {{ form_row(form.email) }}
    </div>

    {{ form_end(form) }}
{% endblock %}